.root {
    -fx-background-color: #32302F;

}
.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #db2d20;

}
.label{
    -fx-text-fill: #fded02;
    -fx-font-weight: bolder;
}
.combo-box{
    -fx-background-color: #01a0e4;
    -fx-text-fill: #000000;
}
.tab{
    -fx-background-color: #32302F ;
    -fx-text-fill: #ffffff;
    -fx-padding: 10,0,0,0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


}
tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #000000;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #000000;
}
.tab-pane *.tab-header-background
{
    -fx-background-color: #32302F;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #807d7c;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #fded02;
}
.tab .tab-label
{
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}


