.root {
    -fx-background-color: #f7f7f7;
}
.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #807d7c;
}
.label{
    -fx-background-color: #f7f7f7;
    -fx-text-fill: #000000;
    -fx-font-weight: bolder;
}